<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StressLess.</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logo.svg') }}">
</head>

<body class="bg-quaternary no-scroll">
    <div class="flex flex-col min-h-screen">
        <div class="flex-grow flex flex-col justify-center items-center">
            <p class="app-name mb-2">StressLess.</p>
            <p class="text-primary mb-4 text-center text-lg px-4">"Sediakan sedikit waktu untuk mengevaluasi diri Anda.
                Bersantailah dan nikmati perjalanan ini untuk mengetahui tingkat stres Anda."</p>
            <button id="startBtn" class="bg-secondary text-quaternary px-4 py-2 rounded">Mulai</button>
        </div>
        <footer class="footer bg-primary text-center py-4">
            <p class="text-quaternary">Made with <span class="love-icon" role="img" aria-label="love">❤️</span> By
                rizkyjackbar</p>
        </footer>
    </div>

    <div id="popup" class="fixed inset-0 flex items-center justify-center bg-quaternary bg-opacity-50 hidden">
        <div id="popupContent" class="bg-primary p-6 rounded shadow-md fade-in w-full max-w-sm relative">
            <span class="close-icon absolute top-2 right-2" id="closePopup">&times;</span>
            <div id="step1" class="step">
                <h2 class="text-xl mb-4 text-quaternary">Masukkan Nama Anda</h2>
                <input type="text" id="username" class="border border-tertiary p-2 w-full mb-4">
                <button id="nextToStep2" class="bg-next text-quaternary px-4 py-2 rounded">Lanjut</button>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('startBtn').addEventListener('click', function () {
            document.getElementById('popup').classList.remove('hidden');
        });
        document.getElementById('closePopup').addEventListener('click', function () {
            document.getElementById('popup').classList.add('hidden');
        });
        document.getElementById('nextToStep2').addEventListener('click', function () {
            const username = document.getElementById('username').value;
            if (username) {
                localStorage.setItem('username', username);
                transitionContent(`
                    <span class="close-icon absolute top-2 right-2" id="closePopupStep">&times;</span>
                    <h2 class="text-xl mb-4 text-quaternary">Selamat datang, ${username}!</h2>
                    <button id="startInput" class="bg-next text-quaternary px-4 py-2 rounded">Lanjut</button>
                `, function () {
                    document.getElementById('startInput').addEventListener('click', startInput);
                    document.getElementById('closePopupStep').addEventListener('click', function () {
                        document.getElementById('popup').classList.add('hidden');
                    });
                });
            }
        });

        function startInput() {
            const steps = [
                { label: 'Seberapa percaya diri Anda?', description: 'Tingkat keyakinan dan kepercayaan diri Anda.', name: 'self_confidence', min: 0, max: 30, ranges: [{ max: 10, text: 'Rendah' }, { max: 20, text: 'Sedang' }, { max: 30, text: 'Tinggi' }] },
                { label: 'Apakah Anda memiliki riwayat masalah kesehatan mental?', description: 'Riwayat masalah kesehatan mental yang pernah Anda alami.', name: 'mental_health_history', type: 'radio', options: [{ value: 1, text: 'Ada' }, { value: 0, text: 'Tidak ada' }] },
                { label: 'Seberapa sering Anda merasa tertekan?', description: 'Frekuensi Anda mengalami tekanan atau stres.', name: 'depression', min: 0, max: 30, ranges: [{ max: 10, text: 'Jarang' }, { max: 20, text: 'Sesekali' }, { max: 30, text: 'Sering' }] },
                { label: 'Seberapa sering Anda mengalami sakit kepala?', description: 'Frekuensi Anda mengalami sakit kepala.', name: 'headache', min: 0, max: 10, ranges: [{ max: 3, text: 'Jarang' }, { max: 7, text: 'Sesekali' }, { max: 10, text: 'Sering' }] },
                { label: 'Seberapa tinggi tekanan darah Anda?', description: 'Tingkat tekanan darah Anda.', name: 'blood_pressure', min: 0, max: 10, ranges: [{ max: 3, text: 'Rendah' }, { max: 7, text: 'Normal' }, { max: 10, text: 'Tinggi' }] },
                { label: 'Bagaimana kualitas tidur Anda?', description: 'Seberapa baik dan nyenyak kualitas tidur Anda.', name: 'sleep_quality', min: 0, max: 10, ranges: [{ max: 3, text: 'Buruk' }, { max: 7, text: 'Cukup' }, { max: 10, text: 'Baik' }] },
                { label: 'Apakah Anda mengalami masalah pernapasan?', description: 'Frekuensi Anda mengalami kesulitan bernapas.', name: 'breathing_problem', min: 0, max: 10, ranges: [{ max: 3, text: 'Jarang' }, { max: 7, text: 'Sesekali' }, { max: 10, text: 'Sering' }] },
                { label: 'Seberapa sering Anda terganggu oleh kebisingan?', description: 'Seberapa sering kebisingan mengganggu Anda.', name: 'noise_level', min: 0, max: 10, ranges: [{ max: 3, text: 'Jarang' }, { max: 7, text: 'Sesekali' }, { max: 10, text: 'Sering' }] },
                { label: 'Bagaimana kondisi tempat tinggal Anda?', description: 'Kondisi lingkungan tempat tinggal Anda.', name: 'living_conditions', min: 0, max: 10, ranges: [{ max: 3, text: 'Buruk' }, { max: 7, text: 'Cukup' }, { max: 10, text: 'Baik' }] },
                { label: 'Seberapa aman lingkungan Anda?', description: 'Tingkat keamanan lingkungan tempat tinggal Anda.', name: 'safety', min: 0, max: 10, ranges: [{ max: 3, text: 'Tidak Aman' }, { max: 7, text: 'Cukup Aman' }, { max: 10, text: 'Aman' }] },
                { label: 'Seberapa terpenuhi kebutuhan dasar Anda?', description: 'Tingkat pemenuhan kebutuhan dasar seperti makanan dan tempat tinggal.', name: 'basic_needs', min: 0, max: 10, ranges: [{ max: 3, text: 'Tidak Terpenuhi' }, { max: 7, text: 'Cukup Terpenuhi' }, { max: 10, text: 'Terpenuhi' }] },
                { label: 'Bagaimana performa akademik Anda?', description: 'Tingkat keberhasilan akademik atau studi Anda.', name: 'academic_performance', min: 0, max: 10, ranges: [{ max: 3, text: 'Buruk' }, { max: 7, text: 'Cukup' }, { max: 10, text: 'Baik' }] },
                { label: 'Seberapa besar beban studi Anda?', description: 'Tingkat beban dan tuntutan studi Anda.', name: 'study_load', min: 0, max: 10, ranges: [{ max: 3, text: 'Ringan' }, { max: 7, text: 'Sedang' }, { max: 10, text: 'Berat' }] },
                { label: 'Bagaimana hubungan Anda dengan guru?', description: 'Kualitas hubungan Anda dengan guru atau pengajar.', name: 'teacher_student_relationship', min: 0, max: 10, ranges: [{ max: 3, text: 'Buruk' }, { max: 7, text: 'Cukup' }, { max: 10, text: 'Baik' }] },
                { label: 'Seberapa khawatir Anda tentang karir masa depan Anda?', description: 'Tingkat kekhawatiran Anda terhadap karir di masa depan.', name: 'future_career_concerns', min: 0, max: 10, ranges: [{ max: 3, text: 'Tidak Khawatir' }, { max: 7, text: 'Cukup Khawatir' }, { max: 10, text: 'Sangat Khawatir' }] },
                { label: 'Seberapa banyak dukungan sosial yang Anda miliki?', description: 'Tingkat dukungan sosial yang Anda dapatkan dari keluarga dan teman.', name: 'social_support', min: 0, max: 10, ranges: [{ max: 3, text: 'Rendah' }, { max: 7, text: 'Sedang' }, { max: 10, text: 'Tinggi' }] },
                { label: 'Seberapa besar tekanan dari teman sebaya Anda?', description: 'Tingkat tekanan yang Anda rasakan dari teman sebaya.', name: 'peer_pressure', min: 0, max: 10, ranges: [{ max: 3, text: 'Rendah' }, { max: 7, text: 'Sedang' }, { max: 10, text: 'Tinggi' }] },
                { label: 'Seberapa sering Anda terlibat dalam kegiatan ekstrakurikuler?', description: 'Frekuensi partisipasi Anda dalam kegiatan di luar akademik.', name: 'extracurricular_activities', min: 0, max: 10, ranges: [{ max: 3, text: 'Jarang' }, { max: 7, text: 'Sesekali' }, { max: 10, text: 'Sering' }] },
                { label: 'Seberapa sering Anda mengalami bullying?', description: 'Frekuensi Anda mengalami tindakan bullying.', name: 'bullying', min: 0, max: 10, ranges: [{ max: 3, text: 'Jarang' }, { max: 7, text: 'Sesekali' }, { max: 10, text: 'Sering' }] }
            ];

            let currentStep = 0;
            let formData = {};

            function getStatus(value, ranges) {
                for (let range of ranges) {
                    if (value <= range.max) {
                        return range.text;
                    }
                }
                return '';
            }

            function renderStep() {
                const step = steps[currentStep];
                const savedValue = formData[step.name] !== undefined ? formData[step.name] : step.min;
                if (step.type === 'radio') {
                    transitionContent(`
                        <span class="close-icon absolute top-2 right-2" id="closePopupStep">&times;</span>
                        <h2 class="text-xl mb-2 text-quaternary">${step.label}</h2>
                        <hr class="mb-2 border-gray-300">
                        <p class="text-xs text-gray-500 italic mb-4">${step.description}</p>
                        <div class="flex flex-col mb-4">
                            ${step.options.map(option => `
                                <label class="mb-2">
                                    <input type="radio" name="input_${step.name}" value="${option.value}" ${savedValue == option.value ? 'checked' : ''}>
                                    ${option.text}
                                </label>
                            `).join('')}
                        </div>
                        <div class="flex justify-between">
                            ${currentStep > 0 ? '<button id="backBtn" class="bg-back text-quaternary px-4 py-2 rounded">Kembali</button>' : ''}
                            <button id="nextBtn" class="bg-next text-quaternary px-4 py-2 rounded">${currentStep < steps.length - 1 ? 'Lanjut' : 'Prediksi'}</button>
                        </div>
                    `, function () {
                        if (currentStep > 0) {
                            document.getElementById('backBtn').addEventListener('click', function () {
                                formData[steps[currentStep].name] = document.querySelector(`input[name="input_${steps[currentStep].name}"]:checked`).value;
                                currentStep--;
                                renderStep();
                            });
                        }
                        document.getElementById('nextBtn').addEventListener('click', function () {
                            formData[steps[currentStep].name] = document.querySelector(`input[name="input_${steps[currentStep].name}"]:checked`).value;
                            if (currentStep < steps.length - 1) {
                                currentStep++;
                                renderStep();
                            } else {
                                submitForm(formData);
                            }
                        });
                        document.getElementById('closePopupStep').addEventListener('click', function () {
                            document.getElementById('popup').classList.add('hidden');
                        });
                    });
                } else {
                    const status = getStatus(savedValue, step.ranges);
                    transitionContent(`
                        <span class="close-icon absolute top-2 right-2" id="closePopupStep">&times;</span>
                        <h2 class="text-xl mb-2 text-quaternary">${step.label} (${step.min} - ${step.max})</h2>
                        <hr class="mb-2 border-gray-300">
                        <p class="text-xs text-gray-500 italic mb-4">${step.description}</p>
                        <div class="flex items-center mb-2">
                            <input type="range" id="input_${step.name}" min="${step.min}" max="${step.max}" value="${savedValue}" class="w-full" oninput="updateOutput(this, ${JSON.stringify(step.ranges)})">
                            <output class="text-quaternary ml-2 text-sm">${savedValue}%</output>
                            <p id="status_${step.name}" class="text-quaternary text-sm ms-1">${status}</p>
                        </div>
                        <div class="flex justify-between">
                            ${currentStep > 0 ? '<button id="backBtn" class="bg-back text-quaternary px-4 py-2 rounded">Kembali</button>' : ''}
                            <button id="nextBtn" class="bg-next text-quaternary px-4 py-2 rounded">${currentStep < steps.length - 1 ? 'Lanjut' : 'Prediksi'}</button>
                        </div>
                    `, function () {
                        const rangeInput = document.getElementById(`input_${step.name}`);
                        const output = rangeInput.nextElementSibling;
                        rangeInput.addEventListener('input', function () {
                            const value = this.value;
                            output.value = value + '%';
                            document.getElementById(`status_${step.name}`).textContent = getStatus(value, step.ranges);
                        });

                        if (currentStep > 0) {
                            document.getElementById('backBtn').addEventListener('click', function () {
                                formData[steps[currentStep].name] = rangeInput.value;
                                currentStep--;
                                renderStep();
                            });
                        }
                        document.getElementById('nextBtn').addEventListener('click', function () {
                            formData[steps[currentStep].name] = rangeInput.value;
                            if (currentStep < steps.length - 1) {
                                currentStep++;
                                renderStep();
                            } else {
                                submitForm(formData);
                            }
                        });
                        document.getElementById('closePopupStep').addEventListener('click', function () {
                            document.getElementById('popup').classList.add('hidden');
                        });
                    });
                }
            }

            renderStep();
        }

        function updateOutput(element, ranges) {
            const value = element.value;
            element.nextElementSibling.value = value + '%';
            const status = getStatus(value, ranges);
            document.getElementById(`status_${element.id.split('_')[1]}`).textContent = status;
        }

        function getStatus(value, ranges) {
            for (let range of ranges) {
                if (value <= range.max) {
                    return range.text;
                }
            }
            return '';
        }

        function submitForm(formData) {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/predict', true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    const response = JSON.parse(xhr.responseText);
                    const level_stress = response.prediction_text;
                    const saran = response.saran;
                    const emoticon = response.emoticon;

                    transitionContent(`
                    <div class="bg-primary p-6 rounded shadow-md text-center">
                        <div class="text-4xl mb-4">${emoticon}</div>
                        <p class="text-quaternary mb-4 font-semibold">${level_stress}</p>
                        <p class="text-quaternary mb-4">${saran}</p>
                        <button id="closeBtn" class="bg-secondary text-quaternary px-4 py-2 rounded mx-auto">Tutup</button>
                    </div>
                `, function () {
                        document.getElementById('closeBtn').addEventListener('click', function () {
                            document.getElementById('popup').classList.add('hidden');
                        });
                    });
                }
            };
            xhr.send(JSON.stringify(formData));
        }

        function transitionContent(newContent, callback) {
            const popupContent = document.getElementById('popupContent');
            popupContent.classList.add('fade-out');
            setTimeout(() => {
                popupContent.innerHTML = newContent;
                popupContent.classList.remove('fade-out');
                popupContent.classList.add('fade-in');
                setTimeout(() => {
                    popupContent.classList.remove('fade-in');
                    if (callback) callback();
                }, 500);
            }, 500);
        }
    </script>
</body>

</html>